html {
    margin: 0px;
    padding: 0px;
    min-height: -webkit-fill-available;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: -webkit-fill-available;
}

.home-screen-wrapper {
    display: flex;
    background-color: #E7E7E7;
    border: 5px solid #CACACA;
    align-items: flex-end;
    min-height: -webkit-fill-available;
    position: fixed;
    min-width: -webkit-fill-available;

    

    // .work-station-wrapper {
    //     height: 87vh;
        
    // }
}
   




   

