html {
    margin: 0px;
    padding: 0px;
    min-height: -webkit-fill-available;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: -webkit-fill-available;
}

.home-screen-wrapper {
    background-color: #E7E7E7;
    border: 5px solid #CACACA;
    
    min-height: -webkit-fill-available;
    position: fixed;
    min-width: -webkit-fill-available;

    

    // .work-station-wrapper {
    //     height: 87vh;
    //     // width: 100vw;
    // }

    // .tools {
    //     height: Calc(100vh - 87vh);
        
    // }
}




   

