/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .row {
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
        justify-content: center !important;
    }

    .container .row .col-md-4 {
        width: 20% !important;
        height: 50% !important;
        margin-left: 5px !important;
        margin-right: 5px !important;
    }
}
