/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .row {
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
    }
}